{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<body>
  <div class="name-form">
    <div class="name">
      <form class="form" action="/login" method="post">
        <h4 class="text-dark text-center">Display Name</h4>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Display Name" required="required">
        </div>
        <input type="submit" name="submit" class="btn btn-success btn-block btn-lg" value="Next">
      </form>
    </div>
  </div>
</body>
{% endblock %}
